<div class="flex-container">

  <section id="ideas">
    <section id="search-area">
      <input type="text" id="search-input" placeholder="Search Ideas" />
    </section>

    <% @ideas.each do |i| %>
      <article class="idea" data-idea-id=<%= i.id.to_s %>>
        <h2 class="title"><%= i.title %></h2>
        <span class="date"><%= i.date %></span>
        <p class="body"><%= i.truncated_body %></p>
        <%= link_to "Edit", edit_idea_path(i.id), class: "edit-idea" %>
        <%= button_tag "Delete", class: "delete-idea" %>
        <span class="quality"><%= i.quality %></span>
        <%= button_tag "+", class: "quality-up" %>
        <%= button_tag "-", class: "quality-down" %>
      </article>
    <% end %>
  </section>

  <aside id="idea-creation-area">
    <h2>Add an Idea:</h2>
    <%= form_for :idea, remote: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <%= f.submit "Save", id: "save-idea" %>
    <% end %>
  </aside>

</div>