<section id="ideas" class="flex-item">

  <section id="search-ideas">
    <%= form_tag("#", method: "get") do %>
      <%= text_field_tag :q, params[:q], placeholder: "Search Ideas" %>
    <% end %>
  </section>

  <% @ideas.each do |i| %>
    <article class="idea">
      <h2><%= i.title %></h2>
      <span><%= i.created_at.strftime("%b. %d, %Y") %> at <%= i.created_at.strftime("%l:%M%P") %></span>
      <p><%= i.body %></p>
      <span><%= i.quality %></span>
      <%= button_tag "+" %>
      <%= button_tag "-" %>
      <%= button_tag "Edit" %>
      <%= button_tag "Delete" %>
    </article>
  <% end %>

</section>

<aside id="idea-creation-area" class="flex-item">Sidebar</aside>